
  .body{
    padding: 0px;
    margin: 0px;
  }
  .titre{
   background-color:#ccc;
   padding:20px;
  }
  .corps{
    padding:20px;
  }
  div {
   background-color:#3ACF80;
   width: 70%;
   margin: 5px;
   padding: 20px;

  }
  div:hover{
    background-color: #A8F29B;
    color: #AA000F
  }
  .ligne1{
    background-color: #ccc;
  }
  .ligne3{
    background-color: #ccc;
  }
.paragrapheRouge{
  background-color: #ff0000;
  color: #fff;
  border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  padding: 3px 5px 3px 5px;
  text-align:center;
}
