.carre {
width:200px;
height:200px;
background: red;
margin: 30px auto;
}

.rond {
width:200px;
height:200px;
background:#069;
-webkit-border-radius:100px;
-moz-border-radius:100px;
-o-border-radius:100px;
border-radius:100px;
margin: 30px auto;
display:none;
}
@media only screen
and (min-width : 375px)
and (max-width : 667px)
and (orientation : landscape) {
  .carre {
  display: block;
  }
}
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
  .rond {
  display:block;
  }
}
